<a href="https://colab.research.google.com/github/keenbm/Ineuron_FSDS/blob/main/Assignment/Python%20Basic%20Assignment/Python_Programming_Basic_Assignment_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

``` 
Python Programming Basic Assignment 20
Name : Bhavikkumar Modi
E-mail : bmodi700@gmail.com
```

```
Assignment/Python Basic Assignment/
```

Question1

Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.

Examples

filter_list([1, 2, 3, &quot;a&quot;, &quot;b&quot;, 4]) ➞ [1, 2, 3, 4]

filter_list([&quot;A&quot;, 0, &quot;Edabit&quot;, 1729, &quot;Python&quot;, &quot;1729&quot;]) ➞ [0, 1729]

filter_list([&quot;Nothing&quot;, &quot;here&quot;]) ➞ []

Question2

Given a list of numbers, create a function which returns the list but with each element&#39;s index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...

Examples

add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [102]:
def filter_list(inpt):
  filt_list=[]
  for i,j in enumerate(inpt):
    if inpt[i].isnumeric():
      filt_list.append(j)
    else:
      continue
  return filt_list

inp_list=list(input("Enter List ").split(","))
print(inp_list)
print(f"result is {filter_list(inp_list)}")

Enter List 1,2,3,4,hdf,Pthon
['1', '2', '3', '4', 'hdf', 'Pthon']
result is ['1', '2', '3', '4']

Question3

Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

Examples
 cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49

cone_volume(18, 0) ➞ 0

In [110]:
import math

def cone_volume(h,r):
  area=(math.pi*(r**2)*h)/3
  return area


cone_volume(3,2)

12.566370614359172

Question4


This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15

This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.

Write a function that gives the number of dots with its corresponding triangle number of the
sequence.

Examples

triangle(1) ➞ 1

triangle(6) ➞ 21

triangle(215) ➞ 23220

In [116]:
def triangle(num):
  ans=0
  if num<=0:
    return "Not valid Number"
  else:
    for i in range(1,num+1):
      ans=ans+i
    return ans
triangle(6)

21

Question5

Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.

Examples

missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [121]:
def missing_num(inp):
  ans=[]
  inp.sort()
  for i in inp:
    if i+1!=inp[i]:
      ans.append(i+1)
    else:
      continue
    return ans

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

[7]