<a href="https://colab.research.google.com/github/keenbm/Ineuron_FSDS/blob/main/Assignment/Python%20Basic%20Assignment/Python_Programming_Basic_Assignment_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

``` 
Python Programming Basic Assignment 22
Name : Bhavikkumar Modi
E-mail : bmodi700@gmail.com
```

```
Assignment/Python Basic Assignment/
```

Question1

Create a function that takes three parameters where:

 x is the start of the range (inclusive).

 y is the end of the range (inclusive).

 n is the divisor to be checked against.

Return an ordered list with numbers in the range that are divisible by the third parameter n.

Return an empty list if there are no numbers that are divisible by n.

Examples

list_operation(1, 10, 3) ➞ [3, 6, 9]

list_operation(7, 9, 2) ➞ [8]

list_operation(15, 20, 7) ➞ []

In [18]:
def list_operation(x,y,n):
  ans=[]
  for i in range(x,y):
    if i%n==0:
      ans.append(i)
  return ans

list_operation(1, 10, 3)

[3, 6, 9]

Question2

Create a function that takes in two lists and returns True if the second list follows the first list by one element, and False otherwise. In other words, determine if the second list is the first list shifted to the right by 1.

Examples

simon_says([1, 2], [5, 1]) ➞ True

simon_says([1, 2], [5, 5]) ➞ False

simon_says([1, 2, 3, 4, 5], [0, 1, 2, 3, 4]) ➞ True

simon_says([1, 2, 3, 4, 5], [5, 5, 1, 2, 3]) ➞ False

Notes

 Both input lists will be of the same length, and will have a minimum length of 2.

 The values of the 0-indexed element in the second list and the n-1th indexed element in the first list do not matter.

In [30]:
def simon_says(x,y):
  x.sort()
  y.sort()
  count=0
  for i in range(len(x)):
    if x[i]!=y[i]:
      count=count+1
    else:
      pass
  if count==1:
    return True
  else:
    return False
simon_says([1, 2], [5, 1])

True

Question3

A group of friends have decided to start a secret society. The name will be the first letter of each of their names, sorted in alphabetical order.

Create a function that takes in a list of names and returns the name of the secret society.

Examples

society_name([&quot;Adam&quot;, &quot;Sarah&quot;, &quot;Malcolm&quot;]) ➞ &quot;AMS&quot;

society_name([&quot;Harry&quot;, &quot;Newt&quot;, &quot;Luna&quot;, &quot;Cho&quot;]) ➞ &quot;CHLN&quot;

society_name([&quot;Phoebe&quot;, &quot;Chandler&quot;, &quot;Rachel&quot;, &quot;Ross&quot;, &quot;Monica&quot;, &quot;Joey&quot;])

In [31]:
def society_name(list1):
  ans=[]
  for i in list1:
    ans.append(i[0])
  return "".join(ans)
society_name(["Adam", "Sarah", "Malcolm"])

'ASM'

Question4

An isogram is a word that has no duplicate letters. Create a function that takes a string and returns either True or False depending on whether or not it&#39;s an &quot;isogram&quot;.

Examples

is_isogram(&quot;Algorism&quot;) ➞ True

is_isogram(&quot;PasSword&quot;) ➞ False

'# Not case sensitive.

is_isogram(&quot;Consecutive&quot;) ➞ False

Notes

 Ignore letter case (should not be case sensitive).

 All test cases contain valid one word strings.

In [35]:
def is_isogram(string):
  x=len(set(string))
  y=len(string)

  if x==y:
    return True
  else:
    return False


is_isogram("Algorism")

True