<a href="https://colab.research.google.com/github/keenbm/Ineuron_FSDS/blob/main/Assignment/Python%20Basic%20Assignment/Python_Programming_Basic_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



``` 
Python Programming Basic Assignment 2
Name : Bhavikkumar Modi
E-mail : bmodi700@gmail.com
```

Write a Python program to convert kilometers to miles?

In [15]:
Km=input("Enter KM value ")
Mile=float(Km)*1.609
print("Mile = ",Mile)

Enter KM value 1
Mile =  1.609

Write a Python program to convert Celsius to Fahrenheit?

In [17]:
Cel=input("Enter Celsius ")
Fah=(float(Cel)*(9/5))+ 32
print("Fahrenheit = ",Fah)

Enter Celsius 10
Fahrenheit =  50.0

Write a Python program to display calendar?

In [19]:
import calendar
yy = int(input("Enter year in yy: "))
mm = int(input("Enter month in mm: "))
print(calendar.month(yy, mm))

Enter year in yy: 94
Enter month in mm: 7
      July 94
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

Write a Python program to solve quadratic equation?

In [20]:
import cmath

a = 1
b = 5
c = 6

d = (b**2) - (4*a*c)

sl1 = (-b-cmath.sqrt(d))/(2*a)
sl2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sl1,sl2))

The solution are (-3+0j) and (-2+0j)

Write a Python program to swap two variables without temp variable?

In [26]:
A="Hello"
B="Welcom"
print("Before " + "A = "+ A + " B = "+B)
A,B=B,A
print("After " + "A = "+ A + " B = "+B)

Before A = Hello B = Welcom
After A = Welcom B = Hello