<a href="https://colab.research.google.com/github/keenbm/Ineuron_FSDS/blob/main/Assignment/Python%20Basic%20Assignment/Python_Programming_Basic_Assignment_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

``` 
Python Programming Basic Assignment 23
Name : Bhavikkumar Modi
E-mail : bmodi700@gmail.com
```

```
Assignment/Python Basic Assignment/
```

Question 1

Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

In [43]:
def is_symmetrical(num):
  lis1=list(str(num))
  if lis1==lis1[-1::-1]:
    return True
  else:
    return False

is_symmetrical(7227)

True

Question 2

Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24

multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0

multiply_nums(&quot;10, -2&quot;) ➞ -20

In [48]:
def multiply_nums(*argv):
  ans=1
  for i in argv:
    ans=ans*int(i)
  return ans


multiply_nums(2, 3,10)

60

Question 3

Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

In [53]:
def square_digits(num):
  lis1=list(str(num))
  ans=""
  for i in lis1:
    ans=ans+str(int(i)**2)
  return ans
  
square_digits(9119)

'811181'

Question 4

Create a function that sorts a list and removes all duplicate items from it.
Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [55]:
def setify(list1):
  return list(set(list1))

setify([1, 3, 3, 5, 5])

[1, 3, 5]

Question 5

Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

 The mean of all digits is the sum of digits / how many digits there are (e.g. 
mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).

 The mean will always be an integer.

In [59]:
def mean(num):
  sum=0
  for i in str(num):
    sum=sum+int(i)
  return sum/len(str(num))

mean(42)

3.0