<a href="https://colab.research.google.com/github/keenbm/Ineuron_FSDS/blob/main/Assignment/Python%20Basic%20Assignment/Python_Programming_Basic_Assignment_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



``` 
Python Programming Basic Assignment 10
Name : Bhavikkumar Modi
E-mail : bmodi700@gmail.com
```

1. Write a Python program to find sum of elements in list?

In [3]:
a=[1,2,3,4,5,6,7]
print(f"sum of list {a} is {sum(a)}")

sum of list [1, 2, 3, 4, 5, 6, 7] is 28

2. Write a Python program to Multiply all numbers in the list?

In [9]:
a=[1,2,3,4,5,6,7]
new_list=[value*2 for value in a]
new_list

[2, 4, 6, 8, 10, 12, 14]

3. Write a Python program to find smallest number in a list?

In [11]:
a=[1,2,3,4,0,6,7]
min(a)

0

4. Write a Python program to find largest number in a list?

In [12]:
a=[1,2,3,4,0,6,7]
max(a)

7

5. Write a Python program to find second largest number in a list?

In [17]:
a=[1,2,3,4,0,6,7]
k=a.copy()
k.remove(max(k))
print(f"Second max value in {a} is {max(k)}")

Second max value in [1, 2, 3, 4, 0, 6, 7] is 6

6. Write a Python program to find N largest elements from a list?

In [29]:
a=[1,2,3,4,0,6,7]
k=a.copy()
k.sort()
n=int(input("Input n number : "))
print(f"{n} largest number in {a} is {k[-n]}")

Input n number : 3
3 largest number in [1, 2, 3, 4, 0, 6, 7] is 4

7. Write a Python program to print even numbers in a list?

In [31]:
a=[1,2,3,4,5,6,7,8,9,10]
even=[]
for i,j in enumerate(a):
  if j%2==0:
    even.append(j)
print(f"Even number are {even}")

Even number are [2, 4, 6, 8, 10]

8. Write a Python program to print odd numbers in a List?

In [32]:
a=[1,2,3,4,5,6,7,8,9,10]
even=[]
for i,j in enumerate(a):
  if j%2!=0:
    even.append(j)
print(f"Odd number are {even}")

Odd number are [1, 3, 5, 7, 9]

9. Write a Python program to Remove empty List from List?

In [42]:
a=[1,2,3,[],4]
b=a.copy()
b.remove([])
print(f"Old list {a} \n new list {b}")

Old list [1, 2, 3, [], 4]
 new list [1, 2, 3, 4]

10. Write a Python program to Cloning or Copying a list?

In [43]:
a=[1,2,3,[],4]
b=a.copy()
print(f"Old list {a} \n Copied list {b}")

Old list [1, 2, 3, [], 4]
 Copied list [1, 2, 3, [], 4]

11. Write a Python program to Count occurrences of an element in a list?

In [46]:
a=[1,2,3,1,1,4]
print(f"1 is present {a.count(1)} times")

1 is present 3 times